body {
  margin: 0;
  font-family: 'Ubuntu', 'Cantarell', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222222;
}

/* MAIN COLOR: #2DD275 */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:active, a:hover {
  text-decoration: underline;
  color: #2DD275;
}

.no-styling {
  list-style-type: none;
}

.text-accent {
  color: #2DD275;
}

.me {
  display: block;
  margin: auto;
  border: 1px solid #2DD275;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  padding: 0px;
}

.bg-very-dark {
  background-color: #111;
}

.main-container {
  max-width: 600px;
}

.row {
  margin: 0px;
}

/* NAVBAR - Start */

.navbar-bordered {
  border-top: 1px solid #2DD275;
  border-bottom: 1px solid #2DD275;
}

.dropdown-menu {
  background-color: #111;
  border: 1px solid #2DD275;
  min-width: auto;
  border-radius: 0px;
}

.dropdown-divider {
  border-top: 1px solid #2DD275;
}

.dropdown-item:hover {
  background-color: #2DD275;
  color: #111;
}

.navlist {
  max-width: 700px;
  margin: auto;
}

/* NAVBAR - End */

/* PROJECTS PAGE - Start */

.project-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-image {
  display: inline-block;
  margin: auto;
  padding: 0px;
  width: 200px;
  height: 200px;
  max-width: 200px;
  border: 1px solid #2DD275;
  opacity: 1;
  transition: opacity .5s;
}

.project-image-loading {
  opacity: 0;
  transition: none;
}

/* PROJECTS PAGE - End */

/* FOOTER - Start */

.footer-links-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icon {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: 10px;
}

.icon-bg {
  border: 0px solid #2DD275;
  background-color: #2DD275;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

/* FOOTER - End */
