body {
  margin: 0;
  font-family: 'Ubuntu', 'Cantarell', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-background-light: #222;
  --color-background-dark: #111;
  --color-text: #f8f9fa;
  --color-accent: #2DD275;
  background-color: var(--color-background-light);
}

/* MAIN COLOR: #2DD275 */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:active, a:hover {
  text-decoration: underline;
  color: var(--color-accent);
}

.no-styling {
  list-style-type: none;
}

.text-main {
  color: var(--color-text);
}

.text-accent {
  color: var(--color-accent);
}

.me {
  display: block;
  margin: auto;
  border: 1px solid var(--color-accent);
  border-radius: 50%;
  height: 100px;
  width: 100px;
  padding: 0;
}

.bg-very-dark {
  background-color: var(--color-background-dark);
}

.main-container {
  max-width: 600px;
  min-height: calc(100vh - 130px - 42px - 148px);
}

.row {
  margin: 0;
}

/* NAVBAR - Start */

.navbar-bordered {
  border-top: 1px solid var(--color-accent);
  border-bottom: 1px solid var(--color-accent);
}

.dropdown-menu {
  background-color: var(--color-background-dark);
  border: 1px solid var(--color-accent);
  min-width: auto;
  border-radius: 0;
}

.dropdown-divider {
  border-top: 1px solid var(--color-accent);
}

.dropdown-item:hover {
  background-color: var(--color-accent);
  color: var(--color-background-dark);
}

.navlist {
  max-width: 700px;
  margin: auto;
}

/* NAVBAR - End */

/* PROJECTS PAGE - Start */

.project-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-image {
  display: inline-block;
  margin: auto;
  padding: 0;
  width: 200px;
  height: 200px;
  max-width: 200px;
  border: 1px solid var(--color-accent);
  opacity: 1;
  transition: opacity .5s;
}

.project-image-loading {
  opacity: 0;
  transition: none;
}

/* PROJECTS PAGE - End */

/* FOOTER - Start */

.footer-links-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icon {
  display: inline-block;
  margin: 10px;
}

.icon-bg {
  border: 0 solid var(--color-accent);
  background-color: var(--color-accent);
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

/* FOOTER - End */

@media(prefers-color-scheme: light) {
  body {
    --color-background-light: #fff;
    --color-background-dark: #eee;
    --color-text: #343a40;
  }
}
